$color-black: #000000;
$color-dark: #525252;
$color-grey: #a8a8a8;
$color-grey-light: #dddddd;
$color-white: #ffffff;

$color-red-light: #e43558;
$color-red-light2: #ec3d60;
$color-red: #cc2d4d;
$color-red-dark: #a52740;

$color-green-light: #25ad25;
$color-green: #1f8f1f;
$color-green-dark: #246d24;