$default-vertical-margin-xl: 40px;
$default-vertical-margin-lg: 30px;
$default-vertical-margin: 20px;
$default-vertical-margin-md: 10px;

$default-border-radius: 4px;

$default-column-gap: 20px;
$default-row-gap: 20px;